/*=======GENERAL CLASSES=============*/

/*=====HOME PAGE================================*/
.home-hero {
    
    height: 627px;
}
.hero__row {
    width: 1146px;
    display: block;
    margin: 0 auto;
}
/*=========HERO IMAGE=============*/